{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Удалить новость {{ object.title|truncatechars:20 }}
{% endblock title %}

{% block content %}

    <h1>Удалить новость</h1>
    <hr>
    <p>Новость. Автор {{ object.author.author.username }}. Дата создания {{ object.dateCreation|date:'d M Y' }}</p>
    <p> {{ object.text|censor }} </p>
    <p style="text-align: right;">Рейтинг:{{ object.rating }}          .</p>
    <hr>
    <form action="" method="post">
        {% csrf_token %}
        <p> Удалить эту новость "{{ object.title }}"?</p>
        <input type="submit" value="Удалить" />
    </form>
{% endblock content %}