{% extends 'flatpages/default.html' %}

{% load custom_filters %}


{% block title %}
Новости
{% endblock title%}

{% block content %}
    <h1 style="text-align: center;">Новости</h1>
    <h3 style="text-align: center;">Новостей на странице : {{ news|length }}</h3>
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form>

    {% if perms.news.add_post %}
    <a href="{% url 'create_news' %}">Добавить новость</a>
    <a href="{% url 'create_article' %}">Добавить статью</a>
    {% endif %}

    {% if news %}
        {% if perms.news.change_post or perms.news.delete_post %}
            <td>Действия</td>
        {% endif %}

        {% for separateNews in news %}
            <table>
            <hr>
            <tr>
            <td style="text-align: center;"><a href="{% url 'separate_news' pk=separateNews.id %}">{{ separateNews.title }}</a></td>
            </tr>
            <tr>
            <td style="text-align: center;">{{ separateNews.dateCreation|date:'d M Y' }}</td>
            </tr>
            <tr>
            <td style="text-align: center;">{{ separateNews.text|truncatewords:20 }}</td>
            </tr>

            {% if perms.news.change_post and separateNews.categoryType == 'NW' %}
                <a href="{% url 'update_news'  pk=separateNews.id %}">Изменить</a>
            {% elif perms.news.change_post and separateNews.categoryType == 'AR' %}
                 <a href="{% url 'update_article' pk=separateNews.id %}">Изменить</a>
            {% endif %}

            {% if perms.news.delete_post and separateNews.categoryType == 'NW' %}
                <a href="{% url 'delete_news' pk=separateNews.id %}">Удалить</a>
            {% elif perms.news.delete_post and separateNews.categoryType == 'AR' %}
                <a href="{% url 'delete_article' pk=separateNews.id %}">Удалить</a>
            {% endif %}
            </table>
        {% endfor %}
    {% else %} <h2>Новостей пока нет</h2>
    {% endif %}

    {# Пагинация. Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}