{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
{{ news.title|truncatechars:20 }}
{% endblock title %}

{% block content %}
<h1 style="text-align: center;">{{ news.title }}</h1>
<hr>
    {% if 'AR' in news.categoryType %}
        <p>Cтатья. Автор {{ news.author.author.username }}. Дата создания {{ news.dateCreation|date:'d M Y' }}</p>
    {% else %}
        <p>Новость. Автор {{ news.author.author.username }}. Дата создания {{ news.dateCreation|date:'d M Y' }}</p>
    {% endif %}
<p>{{ news.text|censor }} </p>
<p style="text-align: right;">Рейтинг:{{ news.rating }}          .</p>
<hr>
{% endblock content %}